 * {
    margin: 0;
    font-family: 'Roboto', sans-serif;
 }

body {
    background: #fa7c7b;

}
.container-page {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 97vh;
}


.container-form {
    background: white;
    width: 400px;
    height: 310px;
    border-radius: 10px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

form input {
    height: 35px;
    width: 85%;
    margin-top: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;

}

::placeholder {
    color: #777;
    font-size: 0.8rem;
    text-indent: 10px;
    font-weight: bold;

}

form input:focus {
    outline: none;
    border-color: #1877f2;
}



.a p {
    color: #d0cfd5;
    font-size: 10px;

}

.a a {
    color: #fa7c7b;
    text-decoration: none;
    margin-left: 4px;
    font-weight: bold;
}

button {
    border: 15px;
    width: 86%;
    height: 35px;
    background: #37cc8a;
    color: white;
    border-radius: 5px;
    margin-top: 10px;
}

.alert {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 40px;
    background: blueviolet;
    border-radius: 5px;
    color: white;
    font-size: 14px;
}

.a {
    display: flex;
    justify-content: center;
    color: #d0cfd5;
    margin-top: 10px;
    font-size: 10px;
}


.text-title p {
    font-size: 15px;
    color: white;
    margin-right: 50px;
}

.text-title h1 {
    font-size: 50px;
    margin-right: 50px;
    color: white;
}




@media (max-width: 532px) {
    .container-page {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

   .text-title {
    display: flex;
    flex-direction: column;
    align-items: center;
   }
}
